body{
    background-image: url("./img/op2.jpg");
    height: 100vh;
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.nombre{
    color: white;
    text-align: center;
}
.menu{
   background: linear-gradient(90deg, #474747, #010102);
    padding: 1px; 
    justify-content:space-between;
    
}
.menu ul{
    text-align: center;
    display: flex;
    list-style: none;
    gap: 200px; 
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}
.menu a:hover{
    color: rgb(91, 83, 161);
} 
.presentacion{
    display: flex;

}
.presentacion{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 12px;
}
.foto_de_perfil{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    border: solid, 4px, white;
     box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.foto_de_perfil  img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.text{
    color: white;
    font-size: 30px;
}
.Parrafo_1{
    align-items: center;
    color: white;
    padding-inline-start: 50px;
    position: relative;
    font-weight: bold;
}
.self{
    padding: 5px;
    left: 1000px;
}