body{
    background-image: url("./img/ChatGPT\ Image\ 9\ abr\ 2026\,\ 06_12_02\ a.m..png");
    height: 100vh;
    background-size:100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
}
.nombre{
    color: white;
    text-align: center;
}
.menu{
     background: linear-gradient(90deg, #474747, #010102);
     padding: 1px; 
     justify-items: center;
     display: block;
    
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 200px; 

}
.menu a{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    width: 100px;
     transition: 0.3s ease;
}
.menu a:hover{
    color:rgb(247, 252, 252);
    text-shadow:  0 0 15px #0ff, 0 0 40px #0ff;
    border-radius: 2%;
    width: 120px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name__image{
    align-items: center;
    display: flex;
    color: #fff;
    align-items: center;
    gap: 15px;
    padding: 30px 40px;
    top: 40px;
    margin-top: 40px;
}
.name__image img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.main2{
    display: flex;
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.main2__resume{
    width: 620px;
    color: beige;
    padding: 0 150px;
    display: inline-block;
}.main2{
    display: flex;
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.main2__resume{
    width: 720px;
    padding: 0 150px;
}
.main__images{
    width: 720px;
    height: 600px;
    display: flex;
}
.img{
    width:objec-fit: cover;
    height: 100%;
    padding: 0.1px;
    border-radius: 20px;
    margin:  16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    transition: 0.5s ease;
    cursor: pointer;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);  
    align-items: center; 
    flex-wrap: wrap;
    

}
.images:hover > :not(:hover){
    opacity: 0.3;
}
.card:hover{
    transform: scale(1.1);
}
.images{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 300px;
    position: relative;
}
.name__title:hover{
    color-scheme: dark;
    color: #0ff;
    text-shadow: 0 0 10px #0ff, 0 0
}